body {
    margin: 0;
}

header {
  position: fixed;
  height: 15%;
  background-color: #9dbdf2;
  width:100%;
}

header h1{
  color: white;
}

#flash{
  background-color: #f96b6b;
  color:white;
  padding:10px;
  width:30%;
  text-align: center;
}

#nav ul {
    position: fixed;
    height: 80%;
    top: 15%;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #9dbdf2;

}

#new_category_link{
  background-color: #f96b6b;
}

#nav li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}


#nav li a:hover {
    background-color: white;
    color: #9dbdf2;
}

#content {
margin-left:25%;
padding:1px 16px;
position: fixed;
height: 80%;
top: 15%;
width: 75%;
overflow-y: auto;
}
