{% extends "layout.html" %}
{% block content %}
<a href = "{{url_for('newCategory' )}}">New Category</a>
  {% for category in categories %}

    <h2> {{ category.name }} </h2>
    <a href = "{{url_for('editCategory', category_id = category.id )}}">Edit Category</a>
    <a href = "{{url_for('deleteCategory', category_id = category.id )}}">Delete Category</a>
    <a href = "{{url_for('newItem', category_id = category.id )}}">Create New Item</a>
      {% for item in category.items %}
        <p>{{ item.name }}</p>
        <a href = "{{url_for('editItem', category_id = category.id, item_id = item.id )}}">Edit Item</a>
        <a href = "{{url_for('deleteItem', category_id = category.id, item_id = item.id )}}">Delete Item</a>
      {% endfor %}






  {% endfor %}

{% endblock %}
